@import "../../Styles/variables.scss";

.search {
  border: 1px solid rgba(220, 220, 220, 0.381);
  border-radius: 10px;
  width: 7.5em;
  height: 1.2em;
  margin: 0 0.1em;
  padding: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

input#search {
  font-size: map-get(map-get($mobile, font-size), title4);

  background-color: map-get($colors, color-primary);
  width: 60px;
}

.search input {
  border: none;
  border-radius: 8px;
  color: map-get($colors, color-secondary);
  outline: 0;
}

.search-icon {
  font-size: 1.1em;
  margin-right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button {
  background-color: map-get($colors, color-primary);

  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .search {
    width: 10em;
    height: 1.5em;

    input#search {
      font-size: map-get(map-get($mobile, font-size), title4);

  }
}
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 899px) {
  .search {
    width: 14em;
    padding: 10px;
  }

  input#search {
    font-size: map-get(map-get($tablet, font-size), title4);
  }
}

@media screen and (min-width: 900px) and (max-width: 1022px) {
  .search {
    width: 14em;
    height: 1.6em;
  }

  input#search {
    font-size: map-get(map-get($tablet, font-size), subtitle);
  }
}

@media screen and (min-width: 1023px) {
  .search {
    width: 14em;
    height: 1.6em;
  }

  input#search {
    font-size: map-get(map-get($tablet, font-size), title4);
  }
}
