@import "../../Styles/variables.scss";

.search {
  border: .4px solid rgba(0, 0, 0, 0.221);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.296);
  border-radius: 10px;
  width: 7.5em;
  height: 1.2em;
  margin: 0 0.1em;
  padding: 6px;
background-color: rgba(156, 156, 156, 0.051);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input#search {
  font-size: map-get(map-get($mobile, font-size), title3);
color: map-get($colors, color-primary);
  background-color:  transparent;
  width: 60px;

}


.search{
  input#search::placeholder{
  color:  #11111188;

}
}



.search input {
  border: none;
  border-radius: 8px;
  color: map-get($colors, color-secondary);
  outline: 0;
}

.search-icon {
  font-size: 1.1em;
  margin-right: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button {
  
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
background-color: transparent;
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .search {
    width: 10em;
    height: 1.5em;

    input#search {
      font-size: map-get(map-get($mobile, font-size), title4);
    }
  }
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 899px) {
  .search {
    width: 14em;
    padding: 10px;
  }

  input#search {
    font-size: map-get(map-get($tablet, font-size), title4);
  }
}

@media screen and (min-width: 900px) and (max-width: 1022px) {
  .search {
    width: 14em;
    height: 1.6em;
  }

  input#search {
    font-size: map-get(map-get($tablet, font-size), subtitle);
  }
}

@media screen and (min-width: 1023px) {
  .search {
    width: 14em;
    height: 1.6em;
  }

  input#search {
    font-size: map-get(map-get($tablet, font-size), title4);
  }
}
