@import "../../Styles/variables.scss";

.wrapper-favorite-movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  h1 {
    margin-bottom: 50px;
    color: map-get($colors, color-secondary);
  }

  .container-favorite-movies {
    padding: 0 2.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1022px) {
  .wrapper-favorite-movies {
    h1 {
      font-size: map-get(map-get($tablet, font-size), title1);
    }

    .container-favorite-movies {
      padding: 0 2.4em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 30px;
      flex-wrap: wrap;
      width: 80%;
    }
  }
}
@media screen and (min-width: 1023px) {
  .wrapper-favorite-movies {

      display: flex;
      
      padding: 0 40px;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
    


    h1 {
      font-size: map-get(map-get($tablet, font-size), title1);
    }

    .container-favorite-movies {
      padding: 0 .5em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 30px;
      width: 80%;
    }
  }
}
