$global-fonts: (
  font-body: "Poppins",
  font-logo: "Oswald",
  font-title: "Arial",
  font-title-movie: "Righteous",
);

$colors: (
  color-primary: black,
  color-secondary: white,
  color-tertiary: rgb(60, 60, 60),
  color-search: rgb(185, 184, 120),
  color-rating: rgb(52, 7, 157),
  color-card: rgba(0, 0, 0, 0.457),
  color-hover: rgba(221, 238, 255, 0.915),
  color-items-nav: rgba(0, 0, 0, 0.787),
  background-login:
    linear-gradient(180deg, rgb(54, 54, 56) 0%, rgb(6, 18, 58) 80%),
  background-body:
    linear-gradient(90deg, rgb(49, 49, 70) 0%, rgb(24, 29, 71) 90%),
    
);

$mobile: (
  font-size: (
    body: 1.1em,
    logo: 0.7em,
    title1: 1.3em,
    title2: 0.9em,
    title3: 0.7em,
    title4: 0.6em,
    title5: 1.6em,
  ),
);

$tablet: (
  font-size: (
    body: 1.1em,
    logo: 1em,
    title1: 1.6em,
    title2: 1.2em,
    title3: 0.8em,
    title4: 0.7em,
    
  ),
);

$desktop: (
  font-size: (
    body: 1.1em,
    title1: 3em,
    title3: 2.1em,
  ),
);
