@import "../../Styles/variables.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: map-get($colors, background-login);
}
.container .header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.container .header span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 15px;
}

.container form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container form .inputContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container form .inputContainer label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}

.container form .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  width: 250px;
  height: 49px;
  border: 1px solid #0f268b;
  border-radius: 12px;
  margin-bottom: 12px;
}

.container form a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: map-get($colors, color-rating);
}

.container form .button {
  width: 250px;
  height: 48px;
  background: map-get($colors, color-rating);
  border-radius: 12px;
  color: #fff;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.container form .button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container form .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container form .footer p {
  font-weight: 400;
  font-size: map-get(map-get($mobile, font-size),title3);
  line-height: 19px;
  color: map-get($colors, color-secondary);
}

.container form .footer a {
  font-weight: 400;
  line-height: 19px;
  font-size: map-get(map-get($mobile, font-size),title3);
  text-decoration-line: underline;
  color: #565da6;
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  .container {
    form .inputContainer {
      input {
        width: 450px;
      }
    }

    form .footer{
      font-size: map-get(map-get($tablet, font-size),title2);

    }

    button.button {
      width: 450px;
    }
  }
}

@media screen and (min-width: 900px) {
  .container {
    form .inputContainer {
      input {
        width: 520px;
      }
    }


    form .footer{
      font-size: map-get(map-get($tablet, font-size),title2);

    }

    button.button {
      width: 520px;
    }
  }
}
