@import "../../Styles/variables.scss";

.container-movies {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  padding: 30px 0 100px 0;
  position: absolute;
  z-index: -10;

  ::-webkit-scrollbar {
    overflow-x: hidden;
  }

  h2.top-movies,
  h2.popular-movies,
  h2.upcoming-movies {
    color: map-get($colors, color-secondary);
    font-size: map-get(map-get($mobile, font-size), title1);
    text-shadow: 1px 1px 15px black;
    padding: 40px 0 0 54px;
    font-family: map-get($global-fonts, font-title);
  }

  .movie-card-container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100vw;

    max-height: 70vh;
    padding: 20px 10px;

    overflow-y: hidden;
  }

  .container-select {
    .select-gender {
      padding: 20px 0 0 58px;

      select {
        border-radius: 6px;
        font-size: 0.7em;
        border: none;
        width: 10em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.594);
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .container-movies {
    h2.top-movies,
    h2.popular-movies,
    h2.upcoming-movies {
      padding-left: 58px;
      font-size: map-get(map-get($tablet, font-size), title1);
  
     

    .movie-card-container {
      overflow-x: auto;
      white-space: nowrap;
      width: 90vw;
      height: 560px;
      padding: 20px 0;
      gap: 30px;
      overflow-y: hidden;
      }
     
  }
}
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 899px) {
  .container-movies {
    h2.top-movies,
    h2.popular-movies,
    h2.upcoming-movies {
      padding-left: 1.6em;
      font-size: map-get(map-get($tablet, font-size), title1);
    }

    .movie-card-container {
      width: 700px;
      height: 600px;
      padding: 20px 0;
    }
  }
}

/*DESKTOP*/
@media screen and (min-width: 900px) and (max-width: 1022px) {
  .container-movies {
    h2.top-movies,
    h2.popular-movies,
    h2.upcoming-movies {
      padding-left: 2em;
      font-size: map-get(map-get($tablet, font-size), title1);
    }

    .movie-card-container {
      overflow-x: auto;
      white-space: nowrap;
      width: 84vw;
      height: 700px;
      padding: 20px 0;
      gap: 30px;
      overflow-y: hidden;
    }
  }
}

@media screen and (min-width: 1023px) {
  .container-movies {
    h2.top-movies,
    h2.popular-movies,
    h2.upcoming-movies {
      padding-left: 2em;
      font-size: map-get(map-get($tablet, font-size), title1);
    }

    .movie-card-container {
      width: 84vw;
      height: 600px;
    }
  }
}
