@import "../../Styles/variables.scss";

.card-favorites {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;

  background-color: rgb(26, 26, 26);
  box-shadow: 1px 1px 15px black;
  padding: 0.5em;
  margin-bottom: 38px;

  .container-main-favorites {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 10px;

    .img-movies {
      width: 80%;
    }

    img.img-movies {
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    h2.movie-title {
      font-size: map-get(map-get($mobile, font-size), title2);
      font-family: "Righteous", sans-serif;
      text-transform: uppercase;
      text-align: center;
      color: map-get($colors, color-secondary);
      text-wrap: wrap;
      text-shadow: 1px 1px 10px black;
      margin-top: 30px;
      margin-bottom: 15px;
      background-color: rgba(255, 255, 255, 0);
      height: 2.3em;
    }

    .container-favorite-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      button#remove-favorite-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 40%;
        padding: 2.5em 0 2em 0;
        border: none;
        gap: 5px;

        img {
          width: 2em;
        }

        span {
          margin: 0;
          color: map-get($colors, color-secondary);
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .wrapper-favorite-movies {
    margin: 30px 5px;
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
    h1 {
      font-size: map-get(map-get($mobile, font-size), title1);
    }

    .card-favorites {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40%;

      background-color: rgb(26, 26, 26);
      box-shadow: 1px 1px 15px black;
      padding: 0.5em;
      margin-bottom: 38px;
    }
  }
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 899px) {
  .wrapper-favorite-movies {
    .card-favorites {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 30%;

      background-color: rgb(26, 26, 26);
      box-shadow: 1px 1px 15px black;
      padding: 0.5em;
      margin-bottom: 38px;
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1022px) {
  .wrapper-favorite-movies {
    .container-main-favorites {
      h2.movie-title {
        font-size: map-get(map-get($tablet, font-size), title4);
      }

      .container-favorite-btn {
        button#remove-favorite-btn {
          img {
            width: 2.4em;
          }

          span {
            margin: 0;
            color: map-get($colors, color-secondary);
            font-size: map-get(map-get($tablet, font-size), title3);
          }
        }
      }
    }
    .card-favorites {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 30%;

      background-color: rgb(26, 26, 26);
      box-shadow: 1px 1px 15px black;
      padding: 0.5em;
      margin-bottom: 38px;
    }
  }
}


@media screen and (min-width: 1023px) {


  .card-favorites {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;

    background-color: rgb(26, 26, 26);
    box-shadow: 1px 1px 15px black;
    padding: 0.5em;
    margin-bottom: 38px;
  }
}
