
.container-search{
    padding-top: 100px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    
    }

    h2.title-search{
        font-family: 'Roboto', sans-serif;
        font-size: 1.6em;
        text-shadow: 1px 1px 8px black;
     
    }
    
    .container-search span {
        font-family: 'Roboto', sans-serif;
        font-size: .8em;
        color: rgb(255, 237, 104);
    }