@import "../../Styles/variables.scss";

.card {
  display: flex;
  flex-direction: column;

  width: 60vw;

 min-height: 40vh;
  margin-bottom: 50px;
  padding: 10px;
  margin: 5px;
  position: relative;
  background-color: rgb(26, 26, 26);
  box-shadow: 1px 1px 15px black;
 
}


img.img-movies {
  justify-content: center;
  align-items: center;
  width: 28vw;
}

h2.movie-title {
  font-size: map-get(map-get($mobile, font-size), title4);
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: map-get($colors, color-secondary);
  text-wrap: wrap;
  text-shadow: 1px 1px 10px black;
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0);
  height: 2.3em;
}

/*VOTES*/
.container-rating {
  position: absolute;
  top: -0.6em;
  right: -0.6em;
  background-color: transparent;
  color: white;
  font-size: map-get(map-get($mobile, font-size), title4);

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: map-get($colors, color-rating);
    box-shadow: 2px 2px 9px rgba(4, 4, 4, 0.91);
    width: 3em;
    height: 3em;
  }
}

.container-main {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .container-favorite-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;

    #favorite-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      width: 20%;
      padding: 8px;
      border: none;

      svg {
        width: 1em;
      }
    }
  }

  /*SEE MORE BTN*/
  .container-see-more {
    display: flex;
    flex-direction: column;

    border-radius: 5px;
  }

  .container-see-more a {
    text-decoration: none;
    font-size: map-get(map-get($mobile, font-size), title3);
  }

  .link-see-more {
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(15, 4, 81), rgb(46, 33, 193));
    color: rgb(255, 255, 255);
    cursor: pointer;

    min-height: 25px;
    text-align: center;
    padding: 5px;
  }

  .link-see-more:hover {
    background: rgba(16, 84, 192, 0.706);
    transition: 0.4s;
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: column;

    width: 70em;
    height: 24em;
    margin-bottom: 50px;
    padding: 14px;

h2.movie-title{
  font-size: map-get(map-get($tablet, font-size), subtitle);
}

    .img-movies {
      width: 140px;
    }

    /*VOTES*/
    .container-rating {
      font-size: map-get(map-get($mobile, font-size), title3);

    }

    .container-main {
      #favorite-btn {
        width: 24%;

        svg {
          width: 1.5em;
        }
      }

      /*SEE MORE BTN*/
      .container-see-more {
       a {
          text-decoration: none;
          font-size: map-get(map-get($mobile, font-size), title2);
        }
        .link-see-more {
     

          min-height: 25px;
          text-align: center;
          padding: 5px;
        }
      }
    }
  }
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 899px) {
  .card {

    width: 700px;
    height: 500px;


    .img-movies {
      width: 180px;
    }


h2.movie-title{
  font-size: map-get(map-get($tablet, font-size), title4);
}


.container-see-more {
  a {
     text-decoration: none;
     font-size: map-get(map-get($tablet, font-size), title4);
   }


  }


  }
}

/*DESKTOP*/
@media screen and (min-width: 900px) {
  .card {


    width: 700px;
    height: 540px;
    

    .img-movies {
      width: 190px;
    }


h2.movie-title{
  font-size: map-get(map-get($tablet, font-size), title4);
}




.container-see-more {
  a {
     text-decoration: none;
     font-size: map-get(map-get($tablet, font-size), title4);
   }


  }


  }
}


@media screen and (min-width: 1023px) {
  .card {


    width: 700px;
    height: 480px;
    

    .img-movies {
      width: 170px;
    }
  }


}